.main {
  background-color: white;
  button {
    background-color: #d2de32;
  }
  .photoSection {
    width: 100%;
    min-height: 800px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    .photoSection_titleDiv {
      margin-bottom: 20px;
      span {
        font-size: 30px;
      }
    }
    .photoSection_photoDiv {
      margin-bottom: 20px;
      background: red;
      width: 100%;
      max-height: 800px;
      border-radius: 20px;
      overflow: hidden;
    }
    .photoSection_userDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .userCard {
        width: 300px;
        display: flex;
        align-items: center;
        .userCard_profileImage {
          box-shadow: 1px 1px 1px 1px rgb(157, 157, 157);
          border-radius: 100%;
          margin-right: 20px;
        }
        .userCard_userName {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .followCard {
        width: 350px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .followBtn {
          font-size: 18px;
          width: 180px;
          height: 70%;
          border-radius: 30px;
        }
        .heartBtn {
          width: 140px;
          height: 100%;
          padding: 5px 15px;
          background-color: rgb(208, 207, 207);
          cursor: pointer;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .heartIcon {
            font-size: 40px;
          }
          .heartNumber {
            font-size: 30px;
          }
        }
      }
    }
  }
  .ingredientsSection {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
    padding: 20px;
    margin-bottom: 30px;
    .ingredientsSection_titleDiv {
      font-size: 30px;
      .Icon {
        margin-right: 20px;
      }
    }
    .ingredientsSection_contentDivContainer {
      width: 100%;
      display: flex;
      border-radius: 30px;
      box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);
      .ingredientsSection_contentDiv {
        width: 100%;
        min-height: 400px;
        padding: 20px;
        .ingredientDiv {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0 0 20px;
          border-radius: 20px;
          box-shadow: 1px 1px 1px 1px rgb(234, 234, 234);
          width: 60%;
          margin-bottom: 10px;
          .name {
            font-size: 25px;
          }
        }
      }
    }
    .ingredientsSection_buttonDiv {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      margin-top: 20px;
      button {
        font-size: 18px;
        width: 180px;
        height: 40px;
        border-radius: 30px;
        margin-right: 20px;
      }
    }
  }
  .makingNumberSection {
    width: 100%;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
    margin-bottom: 30px;
    padding: 20px;
    .makingNumberSection_titleDiv {
      font-size: 30px;
      .icon {
        margin-right: 20px;
      }
    }
    .makingNumberSection_NumberCardDiv {
      width: 100%;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      .card {
        width: 100%;
        box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;
        .number {
          width: 100px;
          height: 100%;
          .greenBox {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: #d2de32;
            span {
              font-size: 30px;
            }
          }
        }
        .explain {
          width: 80%;
          height: 100%;
          padding-right: 80px;
        }
        .photo {
          width: 600px;
          height: 280px;
          overflow: hidden;
          border-radius: 20px;
        }
      }
    }
  }
  .commentsSection {
    width: 100%;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
    margin-bottom: 30px;
    padding: 20px;
    .commentsSection_titleDiv {
      font-size: 30px;
      margin-bottom: 20px;
      .icon {
        margin-right: 20px;
      }
    }
    .commentsSection_commentsDiv {
      width: 100%;
      padding: 5px;
      .commentsSection_commentDiv {
        width: 100%;
        min-height: 150px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 2px #d2de32;
        background: #e4e6ea;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        .commentsSection_profileImageDiv {
          height: 100%;
        }
        .commentsSection_middleDiv {
          flex: auto;
          display: flex;
          flex-direction: column;
          padding: 0 10px;
          span {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: bold;
          }
          .commentsSection_middleDiv_content {
            width: 100%;
            height: 100px;
            border-radius: 10px;
            box-shadow: 1px 1px 1px 2px #d2de32;
            background: white;
            padding: 20px;
          }
        }
        .commentsSction_lastDIv {
          width: 50px;
          height: 100%;
          font-size: 30px;
          background-color: transparent;
        }
      }
      .commentsSection_comment_commentsDiv {
        display: flex;
        align-items: center;
        .icon {
          width: 200px;
          font-size: 40px;
        }
        .commentsSection_comment_commentDiv {
          width: 100%;
          min-height: 150px;
          border-radius: 10px;
          box-shadow: 1px 1px 1px 2px #d2de32;
          background: #e4e6ea;
          margin-bottom: 30px;
          padding: 20px;
          display: flex;
          .commentsSection_middleDiv {
            flex: auto;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            span {
              margin-bottom: 5px;
              font-size: 20px;
              font-weight: bold;
            }
            .commentsSection_middleDiv_content {
              width: 100%;
              height: 100px;
              border-radius: 10px;
              box-shadow: 1px 1px 1px 2px #d2de32;
              background: white;
              padding: 20px;
            }
          }
          .commentsSction_lastDIv {
            width: 50px;
            height: 100%;
            font-size: 30px;
            background-color: transparent;
          }
        }
      }
    }
    .commentsSection_commetingDiv {
      width: 100%;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .profileImage {
        width: 50px;
        height: 50px;
      }
      .middleDiv {
        flex: auto;
        height: 200px;
        margin: 0 20px;
        input {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          border: none;
          font-size: 20px;
          padding: 20px;
          &::placeholder {
            color: #999;
            font-style: italic;
            font-size: 20px;
          }
        }
      }
      .lastDiv {
        button {
          width: 200px;
          height: 60px;
          border-radius: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
