.mypage__component {
    padding: 0 30px;
    height: 100vh;
    background-color: white;
    h3 {
      padding-top: 10vh;
      padding-bottom: 2vh;
    }
    .mypage__component__recipe {
      height: 80vh;
      background-color: white;
      overflow-y: auto;
      div {
        display: inline-block;
        width: 275px;
        margin: 10px;
        img {
          border-radius: 10px;
          width: 100%;
          opacity: 0.4;
          background-color: green;
        }
        p {
          background-color: red;
          text-align: center;
        }
      }
    }
  }