.modal{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 80vh;
    background-color: red;
    .modal__menu{
        display: flex;
        justify-content: right;
        background-color: #cfcfcf;
        button{
            margin: 5px;
            padding: 2px;
            // border: 1px solid black;
            background-color: #D2DE32;
        }
    }
    
    // .modal__user{
    //     background-color: blanchedalmond;
    //     .modal__user__chat{
    //         display: flex;
    //         margin: 5px 0;
    //         width: 100%;
    //         height: 80px;
    //         border: 1px solid black;
    //         border-radius: 5px;
    //         background-color: beige;
    //         .user__profile{
    //             padding: 10px;
    //             border-radius:5px;
    //             background-color: yellow;
    //             img{
    //                 width: 40px;
    //                 height: 40px;
    //                 border-radius: 20px;
    //                 background-color: wheat;
    //             }
    //         }  
    //         .user__text{
    //             display: flex;
    //             flex-direction: column;
    //             flex-grow: 1;
    //             height: 100%;
    //             .user__text__name{
    //                 background-color: yellowgreen;
    //             }
    //             .user__text__comment{
    //                 flex-grow: 1;
    //                 background-color: blue;
    //             }
    //         }
    //     }
    // }

    .modal__room{
        background-color: yellowgreen;
        .modal__room__user{
            background-color: #D2DE32;
            display: flex;
            justify-content: space-between;
            height: 70px;
            div{
                display: flex;
                align-items: center;
                img{
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    border-radius: 25px;
                    background-color: blue;
                }
            }
            button{
                margin: 20px 0;
                width: 60px;
                color: white;
                border: 1px solid white;
                border-radius: 20px;
                margin-right: 10px;
                background-color: #92c05f;
            }
        }
    }
    .modal__chat{
        .modal__chat__comment{
            display: flex;
            background-color: blue;
            margin: 10px;
            .modal__chat__profile{
                background-color: rgb(210, 210, 9);
            }
            .modal__chat__message{
                display: flex;
                flex-direction: column;
                .message{
                    position: relative;
                    border-radius: 10px;
                    max-width: 50%;
                    padding: 0 5px;
                    word-wrap: break-word;
                    background-color: gray;
                }
            }
        }
    }
}