.footer {
  background: white;
  min-height: 200px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  .left {
    margin-right: 600px;
    width: 400px;
    font-size: 25px;
  }
  .right {
    flex: auto;
    display: flex;
    .help_center {
      margin-right: 300px;
      p {
        margin: 5px 0;
      }
    }
    .about_us {
      p {
        margin: 5px 0;
      }
    }
  }
}
