.main {
  background-color: white;
}
.main button {
  background-color: #d2de32;
}
.main .photoSection {
  width: 100%;
  min-height: 800px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
}
.main .photoSection .photoSection_titleDiv {
  margin-bottom: 20px;
}
.main .photoSection .photoSection_titleDiv span {
  font-size: 30px;
}
.main .photoSection .photoSection_photoDiv {
  margin-bottom: 20px;
  background: red;
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
  overflow: hidden;
}
.main .photoSection .photoSection_userDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .photoSection .photoSection_userDiv .userCard {
  width: 300px;
  display: flex;
  align-items: center;
}
.main .photoSection .photoSection_userDiv .userCard .userCard_profileImage {
  box-shadow: 1px 1px 1px 1px rgb(157, 157, 157);
  border-radius: 100%;
  margin-right: 20px;
}
.main .photoSection .photoSection_userDiv .userCard .userCard_userName {
  font-size: 20px;
  font-weight: bold;
}
.main .photoSection .photoSection_userDiv .followCard {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .photoSection .photoSection_userDiv .followCard .followBtn {
  font-size: 18px;
  width: 180px;
  height: 70%;
  border-radius: 30px;
}
.main .photoSection .photoSection_userDiv .followCard .heartBtn {
  width: 140px;
  height: 100%;
  padding: 5px 15px;
  background-color: rgb(208, 207, 207);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .photoSection .photoSection_userDiv .followCard .heartBtn .heartIcon {
  font-size: 40px;
}
.main .photoSection .photoSection_userDiv .followCard .heartBtn .heartNumber {
  font-size: 30px;
}
.main .ingredientsSection {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
  padding: 20px;
  margin-bottom: 30px;
}
.main .ingredientsSection .ingredientsSection_titleDiv {
  font-size: 30px;
}
.main .ingredientsSection .ingredientsSection_titleDiv .Icon {
  margin-right: 20px;
}
.main .ingredientsSection .ingredientsSection_contentDivContainer {
  width: 100%;
  display: flex;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);
}
.main .ingredientsSection .ingredientsSection_contentDivContainer .ingredientsSection_contentDiv {
  width: 100%;
  min-height: 400px;
  padding: 20px;
}
.main .ingredientsSection .ingredientsSection_contentDivContainer .ingredientsSection_contentDiv .ingredientDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgb(234, 234, 234);
  width: 60%;
  margin-bottom: 10px;
}
.main .ingredientsSection .ingredientsSection_contentDivContainer .ingredientsSection_contentDiv .ingredientDiv .name {
  font-size: 25px;
}
.main .ingredientsSection .ingredientsSection_buttonDiv {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.main .ingredientsSection .ingredientsSection_buttonDiv button {
  font-size: 18px;
  width: 180px;
  height: 40px;
  border-radius: 30px;
  margin-right: 20px;
}
.main .makingNumberSection {
  width: 100%;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
  margin-bottom: 30px;
  padding: 20px;
}
.main .makingNumberSection .makingNumberSection_titleDiv {
  font-size: 30px;
}
.main .makingNumberSection .makingNumberSection_titleDiv .icon {
  margin-right: 20px;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card .number {
  width: 100px;
  height: 100%;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card .number .greenBox {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #d2de32;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card .number .greenBox span {
  font-size: 30px;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card .explain {
  width: 80%;
  height: 100%;
  padding-right: 80px;
}
.main .makingNumberSection .makingNumberSection_NumberCardDiv .card .photo {
  width: 600px;
  height: 280px;
  overflow: hidden;
  border-radius: 20px;
}
.main .commentsSection {
  width: 100%;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(234, 234, 234);
  margin-bottom: 30px;
  padding: 20px;
}
.main .commentsSection .commentsSection_titleDiv {
  font-size: 30px;
  margin-bottom: 20px;
}
.main .commentsSection .commentsSection_titleDiv .icon {
  margin-right: 20px;
}
.main .commentsSection .commentsSection_commentsDiv {
  width: 100%;
  padding: 5px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv {
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #d2de32;
  background: #e4e6ea;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv .commentsSection_profileImageDiv {
  height: 100%;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv .commentsSection_middleDiv {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv .commentsSection_middleDiv span {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv .commentsSection_middleDiv .commentsSection_middleDiv_content {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #d2de32;
  background: white;
  padding: 20px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_commentDiv .commentsSction_lastDIv {
  width: 50px;
  height: 100%;
  font-size: 30px;
  background-color: transparent;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv {
  display: flex;
  align-items: center;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .icon {
  width: 200px;
  font-size: 40px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .commentsSection_comment_commentDiv {
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #d2de32;
  background: #e4e6ea;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .commentsSection_comment_commentDiv .commentsSection_middleDiv {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .commentsSection_comment_commentDiv .commentsSection_middleDiv span {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .commentsSection_comment_commentDiv .commentsSection_middleDiv .commentsSection_middleDiv_content {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #d2de32;
  background: white;
  padding: 20px;
}
.main .commentsSection .commentsSection_commentsDiv .commentsSection_comment_commentsDiv .commentsSection_comment_commentDiv .commentsSction_lastDIv {
  width: 50px;
  height: 100%;
  font-size: 30px;
  background-color: transparent;
}
.main .commentsSection .commentsSection_commetingDiv {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .commentsSection .commentsSection_commetingDiv .profileImage {
  width: 50px;
  height: 50px;
}
.main .commentsSection .commentsSection_commetingDiv .middleDiv {
  flex: auto;
  height: 200px;
  margin: 0 20px;
}
.main .commentsSection .commentsSection_commetingDiv .middleDiv input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  padding: 20px;
}
.main .commentsSection .commentsSection_commetingDiv .middleDiv input::-moz-placeholder {
  color: #999;
  font-style: italic;
  font-size: 20px;
}
.main .commentsSection .commentsSection_commetingDiv .middleDiv input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 20px;
}
.main .commentsSection .commentsSection_commetingDiv .lastDiv button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  font-size: 18px;
}/*# sourceMappingURL=detail.module.css.map */