.main {
  // h4 {
  //   color: black;
  // }
  display: flex;
  padding: 0;
  height: 100vh;
  min-height: 800px;
  .mypage__bar {
    width: 18%;
    height: 100vh;
    text-align: center;
    background-color: #cfcfcf;
    h2 {
      padding-top: 30px;
      font-size: 3vw;
    }
    .mypage__bar__menu,
    .mypage__bar__logout {
      text-align: left;
      font-size: 1.4vw;
      font-weight: bold;
      p {
        padding: 5px 3vw;
      }
      :hover {
        background-color: white;
      }
    }
    .mypage__bar__menu {
      margin: 5vh 0;
    }
    .mypage__bar__logout {
      padding-top: 50vh;
    }
  }
  div {
    width: 100%;
    .mypage__component {
      padding: 0 30px;
      height: 100vh;
      background-color: white;
      h3 {
        padding-top: 10vh;
        padding-bottom: 2vh;
      }
      .mypage__component__recipe {
        height: 80vh;
        background-color: white;
        overflow-y: auto;
        div {
          display: inline-block;
          width: 275px;
          margin: 10px;
          img {
            border-radius: 10px;
            width: 100%;
            opacity: 0.4;
            background-color: green;
          }
          p {
            background-color: red;
            text-align: center;
          }
        }
      }
    }
  }
}

.mypage__bar__icon {
  margin-right: 3px;
}
