.main {
  display: flex;
  padding: 0;
  height: 100vh;
  min-height: 800px;
  .mypage__bar {
    width: 18%;
    height: 100vh;
    text-align: center;
    background-color: #cfcfcf;
    h2 {
      padding-top: 30px;
      font-size: 40px;
    }
    .mypage__bar__menu {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      button {
        padding: 5px;
        font-size: 25px;
      }
      :hover {
        background-color: white;
      }
    }
    .mypage__bar__logout {
      display: flex;
      flex-direction: column;
      margin-top: 50vh;
      button {
        padding: 5px;
        font-size: 25px;
      }
      :hover {
        background-color: white;
      }
    }
  }
  div {
    width: 100%;
    .mypage__component {
      padding: 0 30px;
      height: 100vh;
      background-color: white;
      h3 {
        padding-top: 10vh;
        padding-bottom: 2vh;
      }
    }
  }
}

.mypage__bar__icon {
  margin-right: 3px;
}
